<ul>Шаблонизация:
    <li>механизм генерации текстового на основе готового шаблонамеханизм генерации текстового на основе готового шаблона</li>
    <li>(template engine) программа, выполняющая шаблонизацию.</li>
    <li>Handlebars (усы подкрученные вверх, Сальвадор Дали) – шаблонизатор, расширение Mustashe.</li>
</ul>